.redes-title {
    text-align: center;
    width: 100%;
}

/* Alinear la lista de redes sociales a la izquierda y agregar margen izquierdo */
.social-list {
    text-align: left;
    padding-left: 50px; /* Ajusta este valor para mover los elementos más a la derecha */
}

.social-list li {
    margin-left: 80px; /* Ajusta este valor para mover los elementos más a la derecha */
}